* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'SF Pro Display',sans-serif;
    background: #F4F4F4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 68px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-left: 105px;

}


.imagenavion {
    width: 159px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.imagenavion-img {
    width: 24px;
    height: 24px;
    opacity: 1;
}

.aviontexto {
    font-family: 'SF Pro Display',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #1B1F2D;
}

.imagenesnav {
    display: flex;
    gap: 16px;
    margin-right: 105px;
}

.notification {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.fotoperfil {
    width: 44px;
    height: 44px;
}

.aviso {
    display: flex;
    align-items: center;
    justify-content: start;  
    width: 1240px;
    height: 72px;
    border-radius: 8px;
    background-color: #FCEFCA;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #333333;
    padding-left: 25px;
    gap: 25px;
    margin-bottom: 30px;
}

.aviso span {
    color: #2F80ED;
}

.peligro {  
    width: 32px;
    height: 32px;
}

main {
    width: 1440px;
    padding-left: 105px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.Subheader {
    width: 1440px;
    padding-left: 105px;
    margin: 0 auto;
}


.Reserva {
    padding-top: 60px;
    padding-bottom: 30px;
}

.Reserva h2{
    font-weight: 600;
    font-style: Semibold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 1%;
    vertical-align: middle;
}

.Room1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 810px;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #2F80ED;
    padding-left: 20px;
}

.Room1span1, .Room1span2, .opciones_pago span, .Info strong {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #FFFFFF;
    padding-left: 20px;
}

.Room1 img, .opciones_pago img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.Room1span2 {
    font-size: 16px;
}

.datos1 {
    width: 810px;
    height: 268px;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 30px 32px;
    margin-bottom: 30px;
}

label, .Cupon {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #181818;
    font-family: 'SF Pro Display',sans-serif;
}

input[type="text"] {
    width: 240px;
    height: 44px;
    border-radius: 4px;
    gap: 10px;
    background: #F2F2F2;
    border:none;
    margin-top: 5px;
}

.separar_datos, .separar_datos2, .separar_datos4 {
    display: flex;
    gap: 20px;
} 

.separar_datos2 {
    gap: 10px;
}

.movil, .vacio {
    margin-top: 20px;
}

.vacio {
    margin-top: 40px;
}

.vacio input[type="text"] {
    width: 338px;
    height: 44px;
}

.alinear_checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}


#telefono {
    display: block;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    gap: 10px;
    background: #F2F2F2;
    border:none;
    margin-top: 5px;
    margin-left: 200px;
}

.movil {
    position: absolute;
    top: 500px;
}

#alerta {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;
    border: none;
    border: 1px solid #BDBDBD;
}

.separar_datos3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

.opciones_pago {
    display: flex;
    align-items: center;
    width: 810px;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #2F80ED;
    padding-left: 20px;
    gap: 0px;
}

.opciones_pago span {
    padding-left: 5px;
}

.opciones_bancarias {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding-left: 32px;
    width: 811px;
    height: 48px;
    background-color: #FFFFFF;
    gap: 20px;
}

.linea, .linea2 {
    width: 810px;
    height: 0px;
    border-width: 1px;
    border: 1px solid #E0E0E0;
    margin-left: 0px;
}

.linea2 {
    display: flex;
    margin-top: 20px;
    width: 400px;
    margin-left: -20px;
}

.tipo_pagos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding-left: 32px;
    padding-top: 26px;
}

.datos2 {
    width: 810px;
    height: 576px;
    border-radius: 6px; 
    background-color: #FFFFFF;
}

.debito, .visa, .american_express, .discover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #F2F2F2;
}

.debito img {
    width: 42.67px;
    height: 24px;
}

.visa img {
    width: 42.91px;
    height: 24px;
}

.american_express img {
    width: 34px;
    height: 30px;
}

.discover img {
    width: 53px;
    height: 19px;
}

.Nombretarjeta , .Fecha {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Nombretarjeta {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fila input {
    flex: 1;
}

.fila img {
    width: 18px;
    height: 18px;
}

#nomtarjeta, #numtarjeta {
    width: 500px;
}

.Fecha select, .Fecha2 select {
    display: block;
    width: 150px;
    height: 42px;
    border-radius: 4px;
    gap: 10px;
    background: #F2F2F2;
    border:none;
    margin-top: 5px;
    gap: 5px;
    padding-left: 10px;
}

.Fecha2 {
    margin-top: 40px;
}

.Info {
    display: flex;
    align-items: center;
    width: 810px;
    height: 60px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #F2C94C;
    margin-top: 30px;
}

.Info strong {
    color: #333333;
    line-height: 24px;
}

.Informacion_compra {
    width: 810px;
    height: 363px;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-left: 24px;
    padding-right: 60px;
    margin-bottom: 141px;
}

.Dentro_INFO {
    width: 762px; 
    height: 115px;
    padding-left: 20px;
    margin-bottom: 62px;
}

.Puntos_info {
    padding-top: 32px;
}

.Puntos_info li {
    list-style-type: decimal;
    padding-left: 5px;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #333333;
    padding-right: 24px;
}

.Informacion_compra p, .Informacion_compra span {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #4F4F4F;
}

.Informacion_compra span {
    color:#2F80ED;
}

.afirmar_reserva {
    width: 160px;
    height: 44px;
    gap: 10px;
    border-radius: 6px;
    margin-top: 24px;
    background-color: #2F80ED;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    margin-bottom: 21px;
}

.separar_datos4 {
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.Parteizq {
    width: 810px;
    display: flex;
    flex-direction: column;
}

.Parteder {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.Info_motel {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.Info_motel img {
    width: 400px;
    height: 180px;
}

.separacion{
    position: relative;
}

.Separacion2 {
    padding-left: 20px;
}

.LakeSideMotel {
    display: block;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #181818;
}

.Estrellas_opiniones {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 214px;
    height: 20px;
    padding: 0 auto;
    margin-bottom: 10px;
}

.Estrellas_opiniones2, .Estrellas_opiniones3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0 auto;
    margin-bottom: 10px;
}

.Estrellas_opiniones2{
    vertical-align: none;
    line-height: 20px;
    letter-spacing: 1%;
}

.Estrellas_opiniones3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.Estrellas_opiniones3 p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
}

.Estrellas_opiniones3 span {
    font-weight: 600;
    font-style: Semibold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-align: right;
    vertical-align: middle;
}

.Estrellas_opiniones img {
    width: 80px;
    height: 20px;
}

.Estrellas_opiniones, .Estrellas_opiniones2 {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #4F4F4F;
}

.Especificaciones {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 219px;
    height: 104px;
    padding-top: 20px;
}

.Especificaciones p, .Especificaciones span {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    color: #4F4F4F;
}

.Especificaciones span {
    color: #EB5757;
}

.Detalles {
    width: 400px;
    height: 55px;
    gap: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 30px;
    background-color: #85E0AB;
    padding: 18px;
}

.Detalles strong {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
}

.Precios {
    width: 400px;
    height: 283px;
    border-radius: 6px;
    border-width: 1px;
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #E0E0E0;
}

.Cupon {
    font-weight: 400;
    font-style: Regular;
    color:#2F80ED;
    margin-bottom: 22px;
}

#textocupon {
    width: 226px;
}

.Aplica_cupon {
    width: 132px;
    height: 44px;
    gap: 10px;
    border-radius: 6px;
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    margin-top: 25px;
}
